.tweet-card 
    .tweet-card-author
        .tweet-card-author-data
            img(src=comment.author.avatar, alt="")
            a(href=`/user/${comment.author.username}`)
                p @#{comment.author.username}
            p= moment(comment.createdAt).locale('fr').fromNow()

    .tweet-card-body= comment.message