if isAuthenticated
    script(src="/js/upload-image.js")
    .profile
        .profile-img
            form(
                id="form-container"
                action="/user/update/image"
                method="post"
                enctype="multipart/form-data"
            )
                input(type="file", name="avatar" id="avatar" style="display: none")
                img#profile-image(src=currentUser.avatar, alt="")
        .profile-info
            h3 @#{currentUser.username}
            p #{currentUser.fullname}
            p A rejoint twitter en #{currentUser.createdAt.toLocaleString('fr', {month: 'long'})} #{currentUser.createdAt.getFullYear()}
        .profile-data 
        .profile-actions 
            i.fa-solid.fa-users
                span= currentUser.followers.length
            i.fa-solid.fa-user-plus
                span= currentUser.followings.length
            i.fa-regular.fa-message 
                span 5
            a(href="/auth/signout")
                i.fa-solid.fa-arrow-right-from-bracket