.tweet-card
    .tweet-card-author
        .tweet-card-author-data 
            img(src= tweet.author.avatar, alt="")
            a(href=`/user/${tweet.author.username}`) 
                p @#{tweet.author.username}
        if currentUser 
            if tweet.author._id.toString() === currentUser._id.toString()
                .tweet-card-author-actions
                    a(href=`/tweet/edit/${tweet._id}`) 
                        i.fa-solid.fa-pen-to-square    
                    a(href=`/tweet/delete/${tweet._id}`) 
                        i.fa-solid.fa-xmark

    .tweet-card-body= tweet.content
    .tweet-card-actions 
        a(href=`/tweet/${tweet._id}`) 
            i.fa-comment(class= tweet.comments.length > 0 ? 'fa-solid' : 'fa-regular')
            span= tweet.comments.length

        i.fa-heart(class= tweet.nbLikes > 0 ? 'fa-solid' : 'fa-regular' tweetId = tweet._id)
            span= tweet.nbLikes
        i.fa-regular.fa-share-from-square